<div class="form-group mb-4">
    <input class="form-control" type="text" (input)="onFilterName($event.target.value)" placeholder="Search for name">
    <select id="state" name="state" placeholder="Status" (input)="onFilterStatus($event.target.value)">
        <option value=""></option>
        <option value="Dead">Dead</option>
        <option value="Alive">Alive</option>
        <option value="unknown">Unknown</option>
    </select>
</div>

<div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
 >

<table class="table">
    <colgroup>
        <col wifth="10%">
        <col width="5%">
        <col width="*">
        <col width="35%">
        <col width="15%">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Creation date</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of charList">
        <td scope="row"><img width="100px" matListAvatar src="{{character.image}}"></td>
        <td>{{ character.name }}</td>
        <td>{{ character.status }}</td>
        <td>{{ character.created | date:'YYYY-MM-dd'}}</td>
        <td>
            <button mat-button (click)="navDetails(character.status,character.id)">
                <span>Details</span>
            </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noResults>
    <p>No results found for "{{ searchText }}".</p>
  </ng-template>
</div>

