<div id="filters">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name">
    <label for="state">State: </label>
    <select id="state" name="state">
        <option value="" selected></option>
        <option value="dead">Dead</option>
        <option value="alive">Alive</option>
        <option value="unknown">Unknown</option>
    </select>
</div>
<div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
 ><mat-list>
    <mat-list-item *ngFor="let character of charList">
        <img matListAvatar src="{{character.image}}">
        <h3 matLine> {{character.name}} </h3>
        <p>Status: {{character.status}}</p>
        <p>Creation date: {{ character.created | date:'YYYY-MM-dd'}}</p>
        <button mat-button (click)="navDetails(character.status,character.id)">
            <span>Details</span>
        </button>
    </mat-list-item>
</mat-list>
</div>

